<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>DeathKey - v0.0.1</title>

		<style>
			body {
				font-family: sans-serif;
				background-color: black;
				color: white;
			}

			body > * {
				margin: 0;
			}

			.username {
				color: red;
			}

			.hostname {
				color: orange;
			}
		</style>

		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="../libs/typed.js"></script>
		<script src="../libs/jquery.min.js"></script>
		<script>
			var os = {
				username: "{{ os.username }}",
				hostname: "{{ os.hostname }}"
			};
		</script>
		<!-- ANIMATIONS -->
		<script src="../animations/0.js"></script>
		<script src="../animations/1.js"></script>
		<script src="../animations/2.js"></script>
		<!-- Let's animate -->
		<script>
			// ANIMATE!
			$(document).ready(function () {
				$("body").append("<p><span class='username'>" + os.username + "</span>@<span class='hostname'>" + os.hostname + "</span></p>");
				$("body").append("<p>> <span id='writ0001'></span></p>");
				new Typed('#writ0001', {
				    strings: ['exec deathkey.py'],
				    typeSpeed: 30,
				    backSpeed: 0,
				    loop: false,
						cursorChar: '',
						shuffle: true,
						onComplete: animate0
				});
			});
		</script>
		<script>if (window.module) module = window.module;</script>
	</head>
	<body id="body">
	</body>
</html>
